<div class="aside">
    <nav>
        <a href="ventas-resumen-total.html" class="link">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            <span>Ventas<i class="fa fa-arrow-right" aria-hidden="true"></i></span>
        </a>
        <a href="ventas-resumen-total.html" class="link sub-link">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            <span>Nueva Venta</span>
        </a>
        <a href="conductores.html" class="link">
            <i class="fa fa-user" aria-hidden="true"></i>
            <span>Conductores</span>
        </a>
    </nav>
</div>