<div class="tabs">
    <div class="tab tab-active">
        <i class="fa fa-list-alt icon-tab" aria-hidden="true"></i>
        <span class="name-tab">Resumen Total</span>
    </div>
    <div class="tab">
        <i class="fa fa-calendar icon-tab" aria-hidden="true"></i>
        <span class="name-tab">Ventas Del Dia</span>
    </div>
</div>